.loader {
    border: 0.25rem solid #f3f3f3;
    border-top: 0.25rem solid #3498db;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    animation: spin 2s linear infinite;
}

.loader--lg {
    width: 2rem;
    height: 2rem;
    border: 0.4rem solid #f3f3f3;
    border-top: 0.4rem solid #3498db;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}