.album__header {
    background-color: var(--secondary-color);
    padding: var(--spacing-4);
    display: flex;
    gap: var(--spacing-4);
}

.album__header-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.album__header-cover {
    height: 20rem;
    border-radius: var(--border-radius-2);
}

.album__track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-4);
    height: 3rem;
}

.album__track-title {
    display: flex;
    gap: var(--spacing-4);
}