.button {
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius-circular);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-2) var(--spacing-5) var(--spacing-2) var(--spacing-5);
}

.button--circular {
    height: 3rem;
    width: 3rem;
    padding: 0;
}

.button:hover {
    background-color: var(--primary-color-hover);
}

.button img {
    width: var(--icon-size-sm);
}