
:root {
    /* #region PALETTE */
    --primary-color: rgba(29,185,84,1);
    --secondary-color: rgba(33,33,33,1);
    --tertiary-color: rgba(18,18,18,1);
    --quaternary-color: rgba(83,83,83,1);
    --quinary-color: rgba(179,179,179,1);

    --primary-color-hover: rgba(29,185,84,0.8);
    /* #endregion */


    /* #region SPACING */
    --spacing-0: 0.125rem;
    --spacing-1: 0.5rem;
    --spacing-2: 0.75rem;
    --spacing-3: 1rem;
    --spacing-4: 1.25rem;
    --spacing-5: 1.75rem;
    /* #endregion */


    /* #region FONTS WEIGHT */
    --fw-bold: 500;
    /* #endregion */


    /* #region FONTS SIZE */
    --fs-normal: 0.9rem;
    --fs-header-1: 3rem;
    --fs-header-2: 2rem;
    --fs-header-3: 1.5rem;
    --fs-header-4: 1.10rem;
    /* #endregion */


    /* #region FONTS COLOR */
    --primary-font-color: rgb(255, 255, 255);
    --ghost-font-color: rgba(255, 255, 255, 0.5);
    /* #endregion */
    

    /* #region CONTAINERS */
    --border-radius-1: 0.25rem;
    --border-radius-2: 0.5rem;
    --border-radius-circular: 10rem;
    /* #endregion */

    /* #region ICONS */
    --icon-size-sm: 1.25rem;
    --icon-size-md: 1.5rem;
    --icon-size-lg: 3.5rem;
    /* #endregion */


    /* #region LAYERS */ 
    --search-bar-z-index: 30;
    --search-bar-overlay-z-index: 20;
    /* #endregion */
}

/* #region DEFAULT */ 
html, body {
    background-color: var(--tertiary-color);
    height: 100%;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
/* #endregion */
