.audio-player {
    position: fixed;
    bottom: 0;
    background-color: var(--secondary-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-3);
    box-sizing: border-box;
}

.audio-player__info {
    display: flex;
    gap: var(--spacing-3);
}

.audio-player__info-image {
    height: 5rem;
}