.homepage__albums {
    --total-columns: 10;

    padding: var(--spacing-3);
    display:grid;
    grid-template-columns: repeat(var(--total-columns), calc((100% / var(--total-columns)) - var(--spacing-3)));
    grid-gap: var(--spacing-3);
    justify-content: center;
}

.homepage__loader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1400px) { .homepage__albums { --total-columns: 8; } }
@media screen and (max-width: 1200px) { .homepage__albums { --total-columns: 7; } }
@media screen and (max-width: 992px) { .homepage__albums { --total-columns: 5; } }
@media screen and (max-width: 768px) { .homepage__albums { --total-columns: 4; } }
@media screen and (max-width: 576px) { .homepage__albums { --total-columns: 3; } }
@media screen and (max-width: 500px) { .homepage__albums { --total-columns: 2; } }
@media screen and (max-width: 400px) { .homepage__albums { --total-columns: 1; } }